@model  MyCupOverflows.ViewModel.UserSeatViewModel
@using MyCupOverflows.Models;
@using MyCupOverflows.ViewModel;


@{
    ViewBag.Title = "Seat Gallery";
}


<h2>SeatGallery</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Branch
            </th>
            <th>
                nTable
            </th>
            <th>
                Number
            </th>
            <th>
                Reserve
            </th>



        </tr>
    </thead>



    @foreach (var item in Model.Seats)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserve)
            </td>
            <td>
                @Html.ActionLink("Confirm", "Reserve", new { id = item.Id }) |
            </td>

        </tr>
    }

</table>